body {
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// navbar
.navbar {
    .navbar-brand {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color: #071C4D;
    }

    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &:hover {
                color: #071C4D;
                text-shadow: 0px 4px 4px rgba(7, 28, 77, 0.25);
                ;
            }

            &.active {
                color: #071C4D;
                font-weight: bold;
            }
        }

        .dropdown-item {
            color: #071C4D;
        }
    }

    .btn-login {
        background-color: #071C4D;
        color: #ffff;
        border-radius: 0;

        &:hover {
            background-color: #1E3771;
        }
    }

    // button desktop
    .btn-navbar-right {
        height: 70px;
        width: 100px;
        margin-top: -10px !important;
        margin-bottom: -8px !important;
        margin-right: -18px;
    }
}

// header
.header {
    background: linear-gradient(rgba(4, 136, 166, 1), rgba(4, 136, 166, 0));
    max-height: 86vh;
    padding: 110px 0 180px;
    margin-top: -70px;

    h1 {
        color: #ffff;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        text-shadow: 0px 6px 8px rgba(7, 28, 77, 0.3);
    }

    .btn-get-started {
        color: #ffff;
        background-color: #FF9E35;

        &:hover {
            color: #ffff;
            background-color: #faa54a;
        }
    }
}

/* Membuat css untuk typed text */
/* menambahkan custom cursor */
.typewriter::after {
    content: "|";
    display: inline;
    animation: blink 1s infinite;
}

/* custom cursor animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* akhir css untuk typed text */

// section payment-method
.payment-method {
    margin-top: 80px;

    h2 {
        font-family: 'Playfair Displai', serif;
        font-weight: bold;
    }
}

/* Accordion FAQ */
.faq {
    h2 {
        font-family: 'Playfair Displai', serif;
        font-weight: bold;
    }

    .accordion {
        .btn-faq {
            background-color: #FAC89C;
            font-family: 'Assistant', sans-serif;
            color: #071C4D;
            font-weight: 550;

            &:after {
                content: '\02795';
                float: right;
                color: #071c4d;
            }
        }
    }
}

footer {
    background: linear-gradient(to top, rgba(216, 216, 216, 1), rgba(242, 242, 242, 0));

    .help-center {
        color: #787878;
    }

    .footer-text {
        color: #787878;
    }

}